.book-container {
    background-color: black;
    width: 180px;
    height: 288px;
    margin: 20px;
    display: flex;
}

.title {
    font-weight: bold;
    text-shadow: 2px;
}

.author {
    align-self: flex-end;
}

.meta {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 180px;
}

img {
    width: 180px;
    height: 288px;
}