.search-result-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
}

button:hover {
    background-color: rgb(0, 215, 0);
    transition: 0.5s;
}

.result {
    flex-direction: column;
    min-height: fit-content;
}

.buttons {
    align-self: center;
}