.shelf-container, .title-container {
    background-color: grey;
    width: 60vw;
}

.title-container {
    text-align: center;
}

.shelf-container {
    display: flex;
    flex-direction: row;
    background-color: gray;
    height: auto;
}

.book-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

h3 {
    margin: 0;
}